{
    "EventDetailItem" : [
        {
            "name" : "oVirt Code (Text)",
            "key" : "ovirt_code_text",
            "type" : 1
        },
        {
            "name" : "oVirt Code (Numeric)",
            "key" : "ovirt_code",
            "type" : 2
        }
    ]
}
